
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url("//www.fontstatic.com/f=bein");
@font-face {
  font-family: 'aldin';
  src: url("/fonts/head_fonts/din_font/DINNextLTArabic-Bold.eot"); /* IE9 Compat Modes */
  src: url("/fonts/head_fonts/DINNextLTArabic-Bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      //  url("/fonts/head_fonts/DINNextLTArabic-Bold.woff2') format('woff2'), /* Super Modern Browsers */
       url("/fonts/head_fonts/DINNextLTArabic-Bold.woff") format("woff"), /* Pretty Modern Browsers */
       url("/fonts/head_fonts/DINNextLTArabic-Bold.ttf")  format("truetype"), /* Safari, Android, iOS */
       url("/fonts/head_fonts/DINNextLTArabic-Bold.svg#svgFontName") format("svg"); /* Legacy iOS */
  font-weight: normal;
  font-style: normal;
}

// Tailwind Css Framwork
@import 'tailwind';

// Variables
@import 'variables';

// Custom Css
@import 'main';
